
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
.container{
  display: flex;
 
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
 
}

.logout{
  position: absolute;
  bottom: 0;
}

.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}
.main-skills{
  display: flex;
  margin-top: 20px;
}
.main-skills .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-skills .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-skills .card p{
  font-size: 12px;
}
.main-skills .card button{
  background: orangered;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-skills .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-skills .card i{
  font-size: 22px;
  padding: 10px;
}

.application-list {
  margin-top: 20px;
}

.application {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.application p {
  margin: 0;
}

.application-actions {
  margin-top: 10px;
}

.application-actions button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.application-actions button.reject {
  background-color: #FF5722;
}

.application-actions button.view {
  background-color: #7c7c7c;
}

.card:hover{
  border: 1px solid gray;
}

.form-groups {
  
  background: #dfe9f5;
  margin: 0;
  padding: 0;
}

.h1style {
  color: #333;
  margin-bottom: 20px;
}

.container2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

h2{
  text-align: center;
  margin-bottom: 10px;
}

.group{
  margin-top: 100px;
}

.ilaclistesi {
  margin: 20px;
  background: #dfe9f5;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.seç-buton {
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.tamamla-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color:green;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tamamla-btn:hover {
  background-color: #D84315;
}

.sorgu{
  font-family: Arial, sans-serif;
}

.container4 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  
}

.submit-btn:hover {
  background-color: #45a049;
}

.ilaclar {
 display: flex;
   flex-direction: column;
   gap: 10px;
}
    .ilac {
      display: flex;
      align-items: center;
    }
    .ilac input[type="checkbox"] {
      margin-right: 10px;
    }
    .ilac label {
      font-weight: bold;
    }

.fontstyle{
  font-family: 'Open Sans', sans-serif;
}
